### Load Libraries

In [1]:
import pandas as pd

### Read and explore data

#### Applications Data

In [2]:
applications_data = pd.read_csv('../data/BPI_Challenge_2017.csv')

In [28]:
applications_data.columns.values

array(['action', 'org_resource', 'concept_name', 'event_origin',
       'event_id', 'lifecycle_transition', 'time_timestamp',
       'case__loan_goal', 'case__application_type', 'case_concept_name',
       'case__requested_amount', 'first_withdrawal_amount',
       'number_of_terms', 'accepted', 'monthly_cost', 'selected',
       'credit_score', 'offered_amount', 'offer_id'], dtype=object)

In [16]:
import re
example = "ThisIsAGoodExample"

'this_is_a_good_example'

In [27]:
fix_cols_names = lambda x: re.sub( '(?<!^)(?=[A-Z:])', '_', x.replace('ID','Id')).lower()
fixed_app_cols = [fix_cols_names(col) for col in applications_data.columns]
fixed_app_cols

['action',
 'org_resource',
 'concept_name',
 'event_origin',
 'event_id',
 'lifecycle_transition',
 'time_timestamp',
 'case__loan_goal',
 'case__application_type',
 'case_concept_name',
 'case__requested_amount',
 'first_withdrawal_amount',
 'number_of_terms',
 'accepted',
 'monthly_cost',
 'selected',
 'credit_score',
 'offered_amount',
 'offer_id']

In [22]:
applications_data.columns = fixed_app_cols

In [23]:
applications_data.head()

,action,org_resource,concept_name,event_origin,event_id,lifecycle_transition,time_timestamp,case__loan_goal,case__application_type,case_concept_name,case__requested_amount,first_withdrawal_amount,number_of_terms,accepted,monthly_cost,selected,credit_score,offered_amount,offer_id
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
applications_data.describe()

,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,MonthlyCost,CreditScore,OfferedAmount
count,1.202267e+06,42995.000000,42995.000000,42995.000000,42995.000000,42995.000000
mean,1.675947e+04,8394.338979,83.041982,281.403309,318.645912,18513.719940
std,1.572320e+04,10852.443358,36.386199,192.577735,433.706216,13718.507416
min,0.000000e+00,0.000000,5.000000,43.050000,0.000000,5000.000000
25%,6.000000e+03,0.000000,56.000000,152.820000,0.000000,8800.000000
50%,1.400000e+04,5000.000000,77.000000,244.520000,0.000000,15000.000000
75%,2.300000e+04,12000.000000,120.000000,350.000000,848.000000,25000.000000
max,4.500000e+05,75000.000000,180.000000,6673.830000,1145.000000,75000.000000

In [5]:
applications_data.describe(include='object')

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,Accepted,Selected,OfferID
count,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1202267,1202267,42995,42995,150854
unique,5,149,26,3,1202267,7,1202209,14,2,31509,2,2,42995
top,statechange,User_1,W_Validate application,Workflow,Workitem_1873527794,complete,2016-04-08 12:41:04.858000+00:00,Car,New credit,Application_1219772874,True,True,Offer_1848016559
freq,358940,148404,209496,768823,1,475306,2,339798,1083767,180,30136,21768,4

#### Application EDA Questions

### - What is the distribution of Cases per Application Type?

In [10]:
applications_data.groupby('case:ApplicationType').count()

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
case:ApplicationType,,,,,,,,,,,,,,,,,,
Limit raise,118500,118500,118500,118500,118500,118500,118500,118500,118500,118500,3837,3837,3837,3837,3837,3837,3837,14335
New credit,1083767,1083767,1083767,1083767,1083767,1083767,1083767,1083767,1083767,1083767,39158,39158,39158,39158,39158,39158,39158,136519

### - What is the distribution of Cases per Loan Goal?

#### Offers Data

In [6]:
offers = pd.read_csv('../data/BPI_Challenge_offer_log_2017.csv')

In [7]:
offers.head()

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:concept:name,case:MonthlyCost,case:Selected,case:ApplicationID,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted,OfferID
0,Created,User_17,O_Create Offer,Offer,Offer_247135719,complete,2016-01-02 09:17:05.720000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,NaN
1,statechange,User_17,O_Created,Offer,OfferState_124849367,complete,2016-01-02 09:17:08.762000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
2,statechange,User_17,O_Sent (online only),Offer,OfferState_440662877,complete,2016-01-02 09:19:21.330000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
3,statechange,User_17,O_Cancelled,Offer,OfferState_591416028,complete,2016-01-02 09:21:26.034000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
4,Created,User_17,O_Create Offer,Offer,Offer_941964966,complete,2016-01-02 09:21:42.022000+00:00,Offer_941964966,201.76,False,Application_196483749,4100.0,0,10000.0,57,True,NaN

In [8]:
offers.describe()

,case:MonthlyCost,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms
count,193849.000000,193849.000000,193849.000000,193849.000000,193849.000000
mean,281.028689,8383.631394,353.372496,18574.845074,83.356014
std,190.251145,10782.271378,443.086227,13718.516739,36.363493
min,43.050000,0.000000,0.000000,5000.000000,5.000000
25%,152.820000,0.000000,0.000000,9000.000000,56.000000
50%,244.530000,5000.000000,0.000000,15000.000000,78.000000
75%,350.000000,12000.000000,869.000000,25000.000000,120.000000
max,6673.830000,75000.000000,1145.000000,75000.000000,180.000000

In [9]:
offers.describe(include='object')

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:concept:name,case:ApplicationID,OfferID
count,193849,193849,193849,193849,193849,193849,193849,193849,193849,150854
unique,2,144,8,1,193849,1,193847,42995,31509,42995
top,statechange,User_1,O_Create Offer,Offer,OfferState_152974681,complete,2016-03-02 14:15:40.745000+00:00,Offer_641849676,Application_423354116,Offer_641849676
freq,150854,9982,42995,193849,1,193849,2,5,40,4